# This contains the files which can be regenerated and hence we do not ppush them to git.
/node_modules
.parcel-cache
/dist
/coverage
Episode 13/components/sum.js
Episode 13/components/__tests__/sum.test.js
